@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes showHamster {
  0% {background-position-y: 300%;}
  100% {background-position-y: center;}
}

@keyframes hideHamster {
  0% {background-position-y: center;}
  100% {background-position-y: 300%;}
}

.image-container {
  width: 200px;
  height: 200px;
  background-image: url('./images/regular.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1d1e21;
  animation: hideHamster 1s normal forwards ease-in-out;
}

.image-container.show {
  animation: showHamster 1s normal forwards ease-in-out;
}

